body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.game-container {
    text-align: center;
}

.main-image-container {
    position: relative;
    display: inline-block;
}

.main-menu {
    text-align: center;
    position: relative;
    z-index: 1; /* Set a higher z-index for the main menu to ensure it's displayed on top */
}

.play-button {
    position: absolute;
    left: 0%;
    transition: transform 0.3s; /* Apply transition to the play button */
    z-index: 2; /* Set a higher z-index for the play button to ensure it's displayed on top of the main menu */
}


.scores {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}


.invisible-svg {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 300px; /* Set the width equal to the play button's width */
    height: 300px; /* Set the height equal to the play button's height */
    border-radius: 50%; /* Make it a circle */
    z-index: 3;
    fill: rgba(0, 0, 255, 0); 
}

.description {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

.game-container {
    text-align: center;
}

#titleText {
    display: block;
    position: absolute; /* Position the title text absolutely */
    bottom: -35%; /* Align the title text to the bottom */
    left: -35%; /* Center the title text horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    z-index: 0; /* Set the title text behind the main image */
    transform: scale(1.5);
}

.choices {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.choices button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.2s;
}
.choices button:hover {
    transform: scale(1.1);
}
.result {
    font-size: 1.5em;
    margin-top: 20px;
}

/* Adjust SVG positions and sizes */
#rockSVG {
    top: 79.4%;
    left: 70.4%;
    width: 29%;
    height: 29%;
}

#paperSVG {
    top: 41.5%;
    left: 81.5%;
    width: 29%;
    height: 29%;
}

#scissorsSVG {
    top: 19%;
    left: 49%;
    width: 29%;
    height: 29%;
}

#lizardSVG {
    top: 80%;
    left: 30.8%;
    width: 29%;
    height: 29%;
}

#spockSVG {
    top: 42%;
    left: 18.5%;
    width: 29%;
    height: 29%;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
    #rockSVG, #paperSVG, #scissorsSVG, #lizardSVG, #spockSVG {
        width: 30%;
        height: 30%;
    }
}